{% extends'base.html.twig' %}



{% block title %}Edit Information - {{ parent() }}{% endblock %}
{% block PageName %}Edit Information{% endblock %}
{% block PageDescription %}
    {{ include("PWPortfolioBundle::editNavbar.html.twig") }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Information</h1>
                <p>Ajouter des bon bails qui sont des formulaires </p>
            </div>
            {{ form(form) }}
            {{ form(formProject) }}
            {{ form(formExperience) }}
            <div class="col-lg-12">
                <h1>WOUALALAL</h1>
                <p>Tu trouveras tout le nécessaire pour réaliser un portfolio dans notre tuto</p>
                <p>Bien mes negros</p>
            </div>
        </div>
    </div>
{% endblock %}


