<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}ePortFolio{% endblock %}</title>
    </head>

    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={{ path('pw_user_homepage') }}>Accueil</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href={{ path('pw_user_catalogue') }}>Catalogue</a></li>
                    <li><a href={{ path('pw_portfolio_home') }}>Connexion</a></li>
                    <li><a href={{ path('pw_user_profile') }}>Profile</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon portfolio <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href={{ path('pw_portfolio_home') }}>Home</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Edit</li>
                            <li><a href="#">Introduction</a></li>
                            <li><a href="#">Information</a></li>
                            <li><a href="#">Ergonomie</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Aperçu</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav></br></br>

    <div class="jumbotron">
        <div class="container">
            <h1>{% block PageName %}Accueil{% endblock %}</h1>
            <p>{% block PageDescription %}Bonjour est bienvenu sur le site Brazzerz. Ce site vous permet de créer et partager vôtre ePortefolio.{% endblock %}</p>
        </div>
    </div>
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Description</h2>
                        <p>Sur ce site vous allez pouvoir créer votre ePortfolio personnalisé. Vous pouvez accéder a l'ensemble des ePortefolio des utilisateurs. </p>
                    </div>


                    <div class="col-md-4">
                        <h2>Nous Rejoindre</h2>
                        <p>Vous pouvez déjà procéder a une inscription pour pouvoir créer votre ePortfolio</p>
                        <p><a class="btn btn-default" href="#" role="button">Inscription &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Nous contacter</h2>
                        <p>Vous pouvez nous contacter avec l'adresse mail suivante.</p>
                    </div>
                </div>
            </div>
        {% endblock %}
    <hr>
        {% block javascripts %}{% endblock %}
    <footer>
        <p>{% block Footer %}&copy; 2016 JB_PA_VG, Inc.{% endblock %}</p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>

</html>
