{% extends'base.html.twig' %}

{% block title %}Profile - {{ parent() }}{% endblock %}
{% block PageName %}Profile{% endblock %}
{% block  PageDescription %}Vous avez accées a vos données personnel vous pouvez les modifiers et choisir si ils peuvent être visible ou non par les différents visiteurs.{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Information personnel</h2>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

<div class="col-sm-5">

    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Connexion au site</h3>
                <p>Saisir votre pseudo et mot passe pour vous connecter:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-key"></i>
            </div>
        </div>
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        <div class="form-bottom">
            <form role="form" action="{{ path('login_check') }}" method="post" class="login-form">
                <div class="form-group">
                    <label class="sr-only" for="form-pseudo">Pseudo</label>
                    <input type="text" name="_username" placeholder="Pseudo..." class="form-pseudo form-control" id="username" value="{{ last_username }}">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input type="password" name="_password" placeholder="Password..." class="form-password form-control" id="password">
                </div>
                <button type="submit" class="btn">Sign in!</button>
            </form>
        </div>
    </div>

</div>