{% extends'base.html.twig' %}




{% block title %}Connexion - {{ parent() }}{% endblock %}
{% block PageName %}Connexion{% endblock %}


{% block PageDescription %}
    Vous pouvez vous connecter, vous aller avoir accée à notre plateforme d'édition de ePortfolio.
{% endblock %}



{% block body %}

    <div class="top-content">

        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-5">

                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Connexion au site</h3>
                                    <p>Saisir votre pseudo et mot passe pour vous connecter:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.message }}</div>
                            {% endif %}
                            {% if error %}
                                <div class="alert alert-danger">{{ error.message }}</div>
                            {% endif %}
                            <div class="form-bottom">
                                <form role="form" action="{{ path('login_check') }}" method="post" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-pseudo">Pseudo</label>
                                        <input type="text" name="_username" placeholder="Pseudo..." class="form-pseudo form-control" id="username" value="{{ last_username }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="_password" placeholder="Password..." class="form-password form-control" id="password">
                                    </div>
                                    <button type="submit" class="btn">Sign in!</button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-1 middle-border"></div>
                    <div class="col-sm-1"></div>

                    <div class="col-sm-5">

                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Créer vous un profil</h3>
                                    <p>Remplir les champs suivant pour vous créer un profile:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="{{ path('register') }}" method="post" class="registration-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-first-name">Nom</label>
                                        <input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-last-name">Prénom</label>
                                        <input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-email">Email</label>
                                        <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-cellphone">Cellphone</label>
                                        <input type="text" name="form-cellphone" placeholder="Cellphone..." class="form-cellphone form-control" id="form-cellphone">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-pseudo">Pseudo</label>
                                        <input type="text" name="form-pseudo" placeholder="Pseudo..." class="form-pseudo form-control" id="form-pseudo">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                                    </div>
                                    <button type="submit" class="btn">Sign me up!</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}


